<div class="horizontal-center-container">
  <button class="zocial googleplus" *ngIf="!user" (click)="doLogin('google')">Login With Google</button>
  <button *ngIf="user" (click)="doLogout()">Logout</button>
</div>
