<div class="user-profile">
  <div class="user-image">
    <img class="rounded-image" src="{{ user?.imageUrl }}"/>
  </div>
  <div class="user-info">
    <div>Name: {{ user?.displayName }}</div>
    <div>Email: {{ user?.email }}</div>
    <div>Gender: {{ user?.gender }}</div>
  </div>
</div>
