.user-profile {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  .user-image {
    margin-left: 10px;
    margin-right: 10px;
    .rounded-image {
      border-radius: 50%;
    }
  }

  .user-info {
  }
}